@import "../../breakpoints";

.portfolios {

    &__heading {
        text-align: center;
        padding: 2rem;
        font-size: 2.7rem;
        font-weight: 300;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;

        @media only screen and (max-width: $bp-lg) {
            padding: 3rem 15rem;
        }
    }


}