@import "./breakpoints";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: "Monaco";
  src: url("./assets/fonts/Monaco.woff") format("woff");  
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: $bp-md) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-lg) {
    // font-size: 56%;
  }
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', "opensans-regular", sans-serif;
}
