*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: "Monaco";
  src: url("./assets/fonts/Monaco.woff") format("woff");  
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', "opensans-regular", sans-serif;
}
